/*TABLE*/
#firstTable
{
    border-style: dot-dash;
    border-color: yellow;
}

/* NAVIGATION BAR */
/* WHEN WE HAVE CLASS EQUAL WE USE THE DOT IN CSS */

.topNav
{
    background-color: black;
    overflow: hidden;/* this addresses errors with sizing */
}

/* style the links inside the navbar */
.topNav a
{
    float: middle ;
    color: purple;
    text-align: center;
    line-height: 30px;
    padding: 18px 16px;
    font-size: 17px;
    text-decoration: none;
}

/* change the color of the links on hover */
.topNav a:hover
{
    background-color: cornflowerblue;
}